streamlit==1.49.1
fastapi==0.124.0
pydantic==2.11.7
uvicorn==0.38.0
mysql-connector-python==9.5.0
pandas==2.3.1
requests==2.32.4
python-dotenv==1.0.1
PyJWT==2.10.1
bcrypt==4.2.0
SQLAlchemy==2.0.30
alembic==1.13.1
aiomysql==0.2.0
plotly==5.20.0
aiosmtplib==3.0.1


# Testing
pytest==8.3.4
pytest-mock==3.14.0
pytest-asyncio==0.23.6
httpx==0.28.1